html{
    width: 100vw;
    height: 100vh;
    background-image:url("./docs/images/wallpaper.webp");
    box-sizing: border-box;
    font-family: 'Courier', Courier, monospace;
}

header{
background-color: rgb(219, 219, 219);
width: 100vw;
}

body{
margin: 0;
}

.main-logo{
 width: 250px; 
 margin-top: 9px;
}

.all_cases_menu{
    position: relative;
    margin-top: 200px;
    border-radius: 10px;
    height: 300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 0px 25px black inset;
    border: solid 2px black;
}

.case_of_the_day_menu{
    position: relative;
    margin-top: 200px;
    border-radius: 10px;
    height: 300px;
    width: 42%;
    display: inline-block;
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 0px 25px black inset;
    border: solid 2px black;
}

.unique_cases_menu{
    position: relative;
    margin-top: 200px;
    border-radius: 10px;
    height: 300px;
    width: 42%;
    display: inline-block;
    margin-left: 6%;
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 0px 25px black inset;
    border: solid 2px black;
}

.all_cases_text,.case_of_the_day_text,.unique_cases_text{
font-size: 50px;
text-align: center;
position: relative;
bottom: 110px;
color: white;
}

.cases_parent{
    text-align: center;
}

.help_button{
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    left: 93%;
    top: 45px;
}