
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
    --editor-bg: #eee;
    --editor-border: #3f87a6;
}

html {
    width: 100%;
    height: 100%;
    background-image: url("./images/wallpaper.webp");
    box-sizing: border-box;
    font-family: 'Courier', Courier, monospace;
}


body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 96px;
    border-bottom: solid black 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.main-logo {
    width: 250px;
}

.help_button, .home_button {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 35px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.all-cases-menu {
    margin-top: 20px;
    border-radius: 10px;
    max-width: 90%;
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 0px 25px black inset;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-x: auto;
}

.all-cases-text {
    font-size: 2.9vw;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    text-shadow: white 0px 0 8px;
}

.cases-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 32px;
    width: 83%;
}

.case-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.case-img:hover {
    transform: scale(1.05);
}

.cases-parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
}

.case-of-the-day-menu, .unique-cases-menu {
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 0px 25px black inset;
    border: solid 2px black;
    flex: 1;
    min-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.special-case {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.case-of-the-day-text, .unique-cases-text {
    font-size: 2.9vw;
    margin-bottom: 20px;
    color: black;
    text-shadow: white 0px 0 8px;
    text-align: center;
}

.day-case, .uniq-case {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 50px;
    border-top: solid black 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

@media (max-width: 1024px) {
    .cases-parent {
        flex-direction: column;
        align-items: center;
    }
    .case-of-the-day-menu, .unique-cases-menu {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .cases-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    html, body {
      overflow-x: hidden;
  }
  

    .case-img {
        width: 100%;
        height: auto;
    }

    .main-logo {
        width: 200px;
    }

    .help_button, .home_button {
        font-size: 20px;
    }

    .case-of-the-day-menu, .unique-cases-menu {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .cases-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    html, body {
      overflow-x: hidden;
  }
  

    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .main-logo {
        width: 150px;
    }

    .help_button, .home_button {
        font-size: 16px;
        margin-top: 10px;
    }

    .all-cases-text, .case-of-the-day-text, .unique-cases-text {
        font-size: 1.5rem;
    }

    .case-img {
        width: 100%;
        height: auto;
    }
}

/* Add styles for the sidebar toggle button */
.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s ease-in-out;
    z-index: 999;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

/* Add styles for when the sidebar is shown */
.sidebar.show {
    left: 0;
}

/* ///////////////////// */ test scripts below /* ///////////////////// */

.unbox-area{
  position: absolute;
  top: 100px
}

#cardList {
  height: 100px;
  width: 800px;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
  background-color: red;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100px;
  height: 100px;
}

.card > img {
  width: 100px;
  height: 100px;
}

.arrow-down {
  margin-left: 380px;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}
#dialog-msg > img {
  width: 150px;
  height: 150px;
}
#dialog-msg {
  text-align: center;
}

.scope{
  background-color: rgb(22, 22, 22);
  position: relative;
  width: 50%;
  border-radius: 24px;
  left: 25%;
  border: solid rgb(0, 0, 0) 2px;
}

d
.app {
  position: relative;
  width: 650px;
  background: #1b1f24;
  border-radius: 10px;
}
.app .pointer {
  position: relative;
  z-index: 1;
  left: calc(50% - (35px / 2));

  height: 35px;
  filter: drop-shadow(0 0 20px rgba(230, 174, 174, 0.3));
  margin-top: 1%;
  bottom: 0px;
}
.app .scope {
  overflow: hidden;
}

.app .scope .list {
  position: relative;
  display: inline-flex;
  left: 0;
  transform: translate3d(0, 0, 0);
  list-style: none;
  transition: 5s cubic-bezier(0.21, 0.53, 0.29, 0.99); /*время прокрутки*/
}
.app .scope .list__item {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 160px;
  opacity: 0.5;
  transition: 0.3s ease;
}
.app .scope .list__item:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}
.app .scope .list__item.active {
  opacity: 1;
}
.app .scope .list__item.active img {
  transform: scale(1.05);
}
.app .scope .list__item img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s ease;
}
.app .start {
  position: relative;
  left: calc(50% - (112.45px / 2));  
  margin-top: 1%;
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #eb5146;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.2s ease;
  box-shadow: 0 0 30px 0 rgba(255, 118, 118, 0.2);
  cursor: pointer;
}
.app .start:hover {
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */
.case {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  transition: margin-left 3s ease-in-out;
}

.item {
  width: 50px;
  height: 50px;
  margin: 10px;
  float: left;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
}
.task {
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #eb5146;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.2s ease;
  box-shadow: 0 0 30px 0 rgba(255, 118, 118, 0.2);
  cursor: pointer;
  left: calc(50% - (193.2px / 2));
  margin-top: 1%;
  position: relative;
  
}
.task:hover {
  opacity: 0.8;
}

.case_on_open_page{
  left: calc(50% - (320px / 2));
  width: 320px;
  margin-top: 5%;
}

.text_above_case{
  color: white;
  left: calc(50% - (115.2px / 2));
  top: 17%;
}

.text_above_case_uniq{
  color: white;
  left: calc(50% - (187.2px / 2));
  top: 17%; 
}
.section-1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 869px;
  max-width: 90%;
}

.descritionContainer{
  border-radius: 30px;
  background-color:gray;
  height: 97vh;
  width: 50vw;
  margin: 10px;
  padding: 10px;
  
}
.codeContainer{
  border-radius: 30px  ;
  background-color:gray;
  height: 722px;
  margin: 10px;
  width: 47vw;
  padding: 10px
}



.resultContainer-task{
  background-color:gray;
  height: 585px;
  border-radius: 30px;
  margin: 10px;
  padding: 10px
}
.taskContainer{
  display: flex;
  flex-direction:column ;
}
p{
  color: white
}
#cadeArea{
  height: 719px;
  width: 777px;
  border-radius: 30px;
  border: none;
  background-color: #1b1f24;
  color:white;
}
